body {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* Navbar -----------------------------------*/

.navalert-container {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 25px 0 black;
}

.brand {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-right: 50px;
}

.navbar-inner {
    background: transparent;
}

/* Page header ----------------------*/

.page-header {
    margin-top: 30px;
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}



/* Band's history ----------------------*/

.history-container {
    background: url(../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;

    position: relative;
    box-shadow: 0 0 25px 0 black
}

.opaque-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}



/* Block-divider ---------------------------*/

.block-divider {
    width: 500px;
    height: 5px;
    border: 0;
    background-color: #7A7CE7;
}



/* Members container---------------------*/

.members-header {
    margin-top: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px #9193FF;
}

.members-container {
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 0 0 25px 0 black;
    width: 100%;
    border: 0;
}

ul .members-list {
    text-align: left;
    list-style-position: inside;
    vertical-align: middle;
    list-style-type: disc;
}

.members-list {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    text-shadow: 1px 1px #9193FF;
}

.members-list li:before {
    content: "";
    margin-left: 30px;
}


/* Discogrpahy container -------------------*/

.container-wrapper--blue {
    background-color: #3D3FD1;
    color: black;
}

.discs-header {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px #C5C5CC;
}


.discography-container {
    padding-top: 30px;
    padding-bottom: 60px;
    box-shadow: 0 0 25px 0 black;
    width: 100%;
    border: 0;
}

ul .discs-list {
    text-align: right;
    list-style-position: inside;
    vertical-align: middle;
    list-style-type: square;
}

.discs-list {
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    text-shadow: 1px 1px #C5C5CC;
}

.discs-list li:before {
    content: "";
    margin-left: 30px;
}


/* Jumbotron -------------------------------*/

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.jumbotron-paragraph {
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.jumbotron-text {
    color: #C2C2C2;
    font-size: 20px;
}

/* Footer ------------------------------*/

#footer .main-footer {
    padding: 30px 0;
    background-color: black;
}

.footer-logo {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    padding: 0;
    background-color: black;
}

.quick-links {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    min-height: 50px;
    color: #C2C2C2;
    margin-left: 30px;
}

ul.menu-link li {
    list-style-type: none !important;
}

.contact {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    min-height: 50px;
    color: #C2C2C2;
    margin-left: 30px;
}

.social-links li a i {
    margin: 3px;
    color: #C2C2C2;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #3D3FD1;
}

#footer-details {
    padding: 20px;
}


/* Photos file ------------------------------*/

.pics-container {
    padding-top: 80px;
}


.pics-container img {
    width: 800px;
    height: 200px;
    object-fit: fill;
    padding-left: 0;
    padding-top: 0;
    margin-top: 20px;
    margin-bottom: 20px;

}


/* Audio's and videos file ------------------------------*/

.bg-videos,
.bg-audio {
    background-color: #C8C9CF;
}

.videos-container,
.audios-container {
    margin-top: 30px;
    padding-top: 100px;

}

.videos-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-shadow: 2px 4px #9193FF;
    color: black;
    margin-bottom: 10px;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    padding-top: 40px;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


.audios-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-shadow: 2px 4px #9193FF;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

#audio {
    margin-left: 350px;
    padding-right: 30px;
    text-align: center;
}

.comment {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: black;
    margin-left: 350px;
    margin-top: 10px;
    text-align: left;
}